@tailwind base;

@tailwind components;

@tailwind utilities;

.dark {
    /* Background colors */
    /* Main body */
    --back: #343d52; /* space gray */
    /* Cards */
    --back-2: #1a202c; /* dark space gray */
    /* Header / Footer etc. */
    --back-3: #1a202c; /* dark space gray */
    
    /* Accents */
    --front: #edf2f7; /* faint blue gray */
    --front-2: #F4C430; /* saffron orange */
    /* accent inside back-3 */
    --front-3: #FEFEFA; /* baby powder white */
    --front-4: #858b97; /* light space gray */

    /* TEXT COLORS */
    /* Main body text */
    --front-text: #edf2f7; /* faint blue gray */
    /* text inside front-2 */
    --front-text-2: #343d52; /* space gray */
    /* text inside back-3 */
    --front-text-3: #FEFEFA; /* baby powder white */

    /* Outlines / borders */
    --line: #d5d5ce; /* light gray */
}

.light {
    /* Background colors */
    /* Main body */
    --back: #edf2f7; /* faint blue gray */
    /* Cards */
    --back-2: #FEFEFA; /* baby powder white */
    /* Header / Footer etc. */
    --back-3: #343d52; /* space gray */
    
    /* Accents */
    --front: #343d52; /* space gray */
    --front-2: #F4C430; /* saffron orange */
    /* accent inside back-3 */
    --front-3: #FEFEFA; /* baby powder white */
    --front-4: #858b97; /* light space gray */

    /* TEXT COLORS */
    /* Main body text */
    --front-text: #343d52; /* space gray */
    /* text inside front-2 */
    --front-text-2: #343d52; /* space gray */
    /* text inside back-3 */
    --front-text-3: #FEFEFA; /* baby powder white */

    /* Outlines / borders */
    --line: #d5d5ce; /* light gray */
}